Create a Jupyter Notebook.

Load the arrival time data into Pandas from data.csv.

Decide how to deal with any missing values in the data.

3(b) Visualize the data
Create some visualizations of the attendance data. Note that it can be grouped by day or aggregated together.

At least one of your visualizations must be a histogram.

In [1]:
import pandas as pd

In [14]:
df = pd.read_csv("data.csv", header=None)
df.columns = ["Monday1", "Tuesday1", "Wednesday1", "Thursday1", "Friday1", "Monday2"]

In [15]:
df

    Monday1  Tuesday1 Wednesday1 Thursday1  Friday1  Monday2
0   8:56 AM   9:00 AM    7:45 AM   7:45 AM  8:05 AM  7:45 AM
1   8:40 AM   8:40 AM    8:30 AM   8:30 AM  8:45 AM  8:20 AM
2   8:45 AM   8:20 AM    8:05 AM   8:00 AM  8:05 AM  8:00 AM
3   8:40 AM   8:40 AM    8:40 AM   8:25 AM  8:40 AM  8:40 AM
4   8:55 AM   8:50 AM    8:55 AM   8:10 AM  8:15 AM  8:05 AM
5   8:45 AM   8:45 AM    8:45 AM   8:40 AM  8:30 AM  8:40 AM
6   8:45 AM   8:54 AM    8:38 AM   8:40 AM  8:32 AM  8:41 AM
7    absent  11:00 AM    8:35 AM   8:15 AM  8:10 AM  8:10 AM
8   8:39 AM   8:13 AM    8:15 AM   8:12 AM  8:10 AM  8:00 AM
9   9:00 AM   8:50 AM    8:50 AM   8:50 AM  8:40 AM  8:45 AM
10  8:40 AM   8:50 AM    8:40 AM   8:34 AM  8:20 AM  8:30 AM
11  8:15 AM   8:30 AM    8:13 AM   8:30 AM  7:45 AM  8:40 AM
12  8:45 AM   8:55 AM    8:45 AM   8:45 AM  8:00 AM  8:45 AM
13  8:45 AM   8:45 AM    8:05 AM   8:00 AM  8:00 AM  8:00 AM
14  8:45 AM   8:45 AM    9:00 AM   9:00 AM  8:50 AM  9:00 AM
15  8:15 AM   8:40 AM    8:25 AM   8:30 AM  7:30 AM  8:25 AM
16  8:45 AM   8:40 AM    8:45 AM   8:55 AM  8:45 AM  8:45 AM
17  8:45 AM   9:00 AM    9:00 AM   9:00 AM  9:00 AM  9:00 AM
18  8:50 AM   8:50 AM    8:57 AM   8:42 AM  8:35 AM  8:30 AM
19  8:15 AM   9:00 AM    8:35 AM   9:00 AM  8:58 AM  8:20 AM
20  8:45 AM   8:35 AM    8:27 AM   8:46 AM  8:31 AM  8:37 AM
21  8:45 AM   8:45 AM    9:00 AM   8:57 AM  8:57 AM  8:50 AM
22  8:45 AM   8:50 AM    8:30 AM   8:45 AM  8:50 AM  8:10 AM

In [16]:
type(df["Monday1"][1])

str

For the first visualization, I'll make a scatter graph of the total attendees per day, giving us a sense of how it's trending.

In [21]:
m1 = len(df["Monday1"])
m1

23

In [22]:
t1 = len(df["Tuesday1"]) 
w1 = len(df["Wednesday1"])
th1 = len(df["Thursday1"])
f1 = len(df["Friday1"])
m2 = len(df["Monday2"])

In [23]:
attend_days = [m1, t1, w1, th1, f1, m2]
attend_days

[23, 23, 23, 23, 23, 23]

I want the total attendees per day, so maybe I can look at only the entries containing "AM"

In [ ]:
df.value_counts

In [26]:
df["Monday1"].str.count("AM")

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
Name: Monday1, dtype: int64

In [27]:
#No. What if I sum it?
sum(df["Monday1"].str.count("AM"))

22

In [28]:
#That works. I'll reassign
m1 = sum(df["Monday1"].str.count("AM"))
t1 = sum(df["Tuesday1"].str.count("AM"))
w1 = sum(df["Wednesday1"].str.count("AM"))
th1 = sum(df["Thursday1"].str.count("AM"))
f1 = sum(df["Friday1"].str.count("AM"))
m2 = sum(df["Monday2"].str.count("AM"))

In [29]:
attend_days = [m1, t1, w1, th1, f1, m2]
attend_days

[22, 23, 23, 23, 23, 23]